@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@import 'https://fonts.googleapis.com/css?family=Roboto'; /* imports Google font for backup */

body{
	background-color:#EAEAEA;
	font-family:'Roboto', Arial, sans-serif;
	font-weight:lighter;
	font-size:18px;
}
a:hover{
	text-decoration:none; /* overrides boostrap defaults */
}

#container{
	margin:auto;
}
.container{
	max-width:970px;
	padding:0px;
}

/* IMAGES */
.image-set{
	padding-left:0px;
	padding-right:0px;
}
.image-set a img.col-xs-12{
	padding-top:30px;
}
.image-set a:first-child > img.col-xs-12, .image-set a img.col-xs-12.col-md-6{
	padding-top:0px;
}
.image-set > div > a img.col-xs-12.col-md-6{
	padding-top:30px;
}

/* HEADER */
header{
	background-color:#EAEAEA;
}
header h1{
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	line-height:20px;
	margin-top:50px;
	border-style:solid;
}

a h1{
	color:black;
}

#name, #email{ /* makes name and email in footer bold */
	font-weight:bold;

}
#footer{
	font-size:14px;
	line-height:24px;
	padding-left:0px;
}

section{
	margin-top:120px;
}

/* SECTION HEADERS AND TITLES */
h2{
	text-transform:uppercase;
	font-family:'Libre Baskerville',serif;
	letter-spacing:9px;
	font-size:54px;
}
h3{
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
}
.section-content{ /* space between section content and section header */
	margin-top:60px;
}

/* PARAGRAPH FORMATTING */
.paragraph{ 
	line-height:28px;
	padding-left:0px;
	padding-right:0px;
}
.paragraph p:first-child{
	padding-top:30px;
}
.paragraph p, h3{
	margin-bottom:30px;
}
.paragraph p a, ul a{
	border-bottom:1px solid;
	color:#000000;
	transition:background-color 0.2s ease-in-out;
}
.paragraph p a:hover, ul a:hover{
    background-color:yellow;
}
a.fancybox{
	border:none;
}

ul{
	padding-left:50px;
    list-style: circle outside;
}
li{
	padding-left:20px;
}

em{
	font-style:italic;
}
.bold{
	font-weight:bold;
	text-transform:uppercase;
}

/* SIDE PARAGRAPH FORMATTING */
.side{
	padding-left:60px;
	font-size:14px;
	line-height:30px;
}

/* ************ */
/* PROJECT GRID */
/* ************ */

.project{
	text-align:center;
	padding-top:150px;
	padding-bottom:150px;
	padding-right:50px;
	padding-left:50px;
	box-shadow:inset 1000px 1000px rgba(0,0,0,0.3);

	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
.project-name{
	color:white;
	opacity:1.0;
}

h4{
	text-transform:uppercase;
	font-family:'Libre Baskerville',serif;
	letter-spacing:5px;
	font-size:32px;
	line-height:40px;
	margin-top:24px;
	margin-bottom:24px;
}

#littlemusicguides{
	background-image:url('../images/project1.jpg');
}
#opendiner{
	background-image:url('../images/project2.jpg');
	background-position:center top;
}
#united{
	background-image:url('../images/project3.jpg');
}
#belgeddes
{
	background-image:url('../images/belgeddes.jpg');
}

/* -- MEDIA QUERIES --- */

@media (hover:hover) {
	.project { 
		box-shadow:inset 1000px 1000px rgba(0,0,0,0.0);
	}
	.project-name {
		opacity:0.0;
	}
}

@media screen and (max-width:992px){ /* medium */
	.side{
		padding-left:0px;
	}
}
@media screen and (max-width:768px){ /* small */
	header{
		height:40px;
	}
	#vcd{
		display:block;
	}
	.project{
		padding-top:75px;
		padding-bottom:75px;
	}
	p, h2, h3{
		padding-left:30px;
		padding-right:30px;
	}
	h2{
		font-size:28px;
		letter-spacing:3px;
	}
	h3{
		margin-bottom:20px;
		line-height:20px;
	}
	section{
		margin-top:60px;
	}
	.section-content{
		margin-top:30px;
	}
	.image-set a img.col-xs-12, .image-set > div > a img.col-xs-12.col-md-6{
		padding-top:0px;
	}
	iframe{
		width:80%;
		margin:auto;
	}
}
